.vbi-dashboard-toolbar {
  margin-bottom: 16px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  min-height: 40px;
  padding: 4px 10px;
  border: 1px solid;
}
.vbi-dashboard-edit-switch {
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  cursor: pointer;
}
.vbi-dashboard-toolbar-error {
  flex-basis: 100%;
}
